# rename this file to 'firewall' or whichever group is specified within inventory hosts file

ip_address: '10.0.0.1'
api_key: 'place_your_api_key_here'

firewall_hostname: hqcrfw1
firewall_domain: secnetwork.org
firewall_timezone: 'America/New_York'

initial_dns_server_1: 1.1.1.1
initial_dns_server_2: 1.1.1.2

initial_ntp_server_1: 129.6.15.28
initial_ntp_server_2: 132.163.96.1

zone_mgt: L3-Management
zone_virt: L3-Virtualization
zone_auth: L3-Authentication
zone_sec: L3-Security
zone_srv: L3-Servers
zone_dmz: L3-DMZ
zone_end: L3-Endpoints
zone_gst: L3-Guests
zone_prjr: L3-Project-R
zone_prjy: L3-Project-Y

zones_all: ['{{ zone_mgt }}','{{ zone_virt }}','{{ zone_auth }}','{{ zone_sec }}','L3-Servers','L3-DMZ','L3-Endpoints','L3-Guests']
zones_secnet: ['{{ zone_mgt }}','{{ zone_virt }}','{{ zone_auth }}','{{ zone_sec }}','L3-Servers','L3-DMZ','L3-Endpoints']

wan_interface: 'vlan.9000'


Default_WAN_AV_Profile
Default_WAN_Spyware_Profile
Default_WAN_IPS_Profile
Default_LAN_File_Profile
Admin_LAN_File_Profile


Default_WAN_Sec_Profile