# rename this file to 'vmware' or whichever group is specified within inventory hosts file

ansible_python_interpreter=/usr/bin/python3.9

esxi_username: 'root'
esxi_password: '<replace_with_password>'

tmp_esxi_host_1: 10.0.21.101

esxi_host_1: hqvh1.secnetwork.org
esxi_host_11: hqvh11.secnetwork.org
esxi_host_12: hqvh12.secnetwork.org
esxi_host_13: hqvh13.secnetwork.org
esxi_host_14: hqvh14.secnetwork.org

vca_username: 'administrator@vsphere.local'
vca_password: '<replace_with_password>'

vca_host: 10.0.21.11

esxi_vswitch: 'vSwitch0'

datacenter_name: 'SECNET'

lic_vcenter_8: 
lic_esxi_6: