# rename this file to 'vmware' or whichever group is specified within inventory hosts file

ansible_python_interpreter=/usr/bin/python3.9

esxi_username: 'root'
esxi_password: '<replace_with_password>'

esxi_host_1: 10.0.21.101
esxi_host_11: 10.0.21.111
esxi_host_12: 10.0.21.112
esxi_host_13: 10.0.21.113
esxi_host_14: 10.0.21.114

vca_username: 'administrator@vsphere.local'
vca_password: '<replace_with_password>'

vca_host: 10.0.21.11

esxi_vswitch: 'vSwitch0'

datacenter_name: 'SECNET'

2023_lic_vcenter_8: 
2023_lic_esxi_6: